<!doctype html>
{% extends 'base.html' %}

<html><head>


    <style>
       @import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100&display=swap');
 
       body{
          font-family: 'Inter', sans-serif;
          color: white;
          text-align: center;
          margin: auto;
          width: 50%;
          vertical-align: center;
          text-align: center;

       }
       

    </style>
 
 
 </head>

{% block content %}

<body>

    <h1 style="font-weight: 1000;text-align:center;"><br> </br> Contributions <br> </br></h1>
      <h2 style="text-align:center;"> Mohammad Kahil - Hadi Aram Bashir<br> </br> Jaafar Alawieh - Karim Alameh<br> </br> <br> </br></h2>
      <h1 style="font-weight: 1000;text-align:center;">Project done for <br> </br></h1>
      <h2 style="text-align:center;"> The 455 Spring 21/22 Class <br> </br>with Dr. Ali Hussein</h2>


</body>

{% endblock %}
</html>
