<!doctype html>
{% extends 'base.html' %}

<html><head>


    <style>
       @import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100&display=swap');
 
       body{
          font-family: 'Inter', sans-serif;
          color:white;
       }
    </style>
 
 
 </head>

{% block content %}

<body>

    {% for message in get_flashed_messages() %}

      {% if success == False %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{  message  }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
  
        {% endif %}
  
  
        {% if success == True %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{  message  }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
    
      {% endif %}
      
  
      {% endfor %}

    <h1>Fast Exponentiation</h1>

    <div style="padding-left:50px; padding-right: 50px;" class="card bg-white text-dark">
      <br>
  <h2>Definition:</h2>
  <span>Modular exponentiation is exponentiation performed over a modulus. It is useful in computer science, especially
    in the field of public-key cryptography, where it is used in both Diffie-Hellman Key Exchange and RSA public/private
    keys.</span>

  <div>To see it in action, enter a number X , an exponent E and a modulo M, and we will display the result!</div>

  <br>

</div>


    <form action="" method="POST">



        <div class="form-group" >
            <label for="nmb1"><h3>Enter a number X</h3></label>
            <input type="text" class="form-control" id="nmb1" name="x">
        </div>
        <br>

        <div class="form-group" >
            <label for="nmb2"><h3>Enter an exponent E</h3></label>
            <input type="text" class="form-control" id="nmb2" name="e">
        </div>

        <br>
        <div class="form-group" >
            <label for="nmb3"><h3>Enter a modulo M</h3></label>
            <input type="text" class="form-control" id="nmb3" name="m">
        </div>
      
        <br>
        <br>
    
        <input class="btn btn-outline-warning" type="submit" value="Find"> 
    </form> 
    
<br>
      <div >
        
        <div >
          <h4><b>Fast Exponentiation Result (X<sup>E</sup> % M) is:</b></h4> 
          <h3> {{ res }}</h3> 
        </div>
      </div>

    <br>

</body>

{% endblock %}
</html>
