<nav class="navbar navbar-light bg-light">

    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('main') }}">455 project</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          <li class="nav-item">
            <a class="nav-link" href="{{  url_for('primeFac')  }}">Prime Factors</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="{{  url_for('totientFunc')  }}">Totient Function</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{  url_for('millerRabin')  }}">Miller Rabin</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{  url_for('fastExpo')  }}">Fast Exponentiation</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{  url_for('chineseRemTheorem')  }}">Chinese Remainder Theorem</a>
          </li>


          
        </ul>


      </div>
    </div>
  </nav>